In [169]:
import pandas as pd

In [170]:
df=pd.read_csv("../output/input_2021-01-01.csv", usecols=["patient_id", "bmi", "weight", "height", "age", "sex", "serum_creatinine", "atrial_fib", "doac_dose_calculated"])
#calculate actual, ideal and adjusted weights for all patients
df["ABW"] = df.weight
df.loc[df["sex"] == 'M', 'IBW'] = 50 + (2.3 * (df.height - 60))
df.loc[df["sex"] == 'F', 'IBW'] = 45.5 + (2.3 * (df.height - 60))
df["ADJ"] = df.IBW + 0.4 * (df.ABW - df.IBW)

#weight for calculation
df.loc[df["bmi"] <30, 'weight_crcl_1'] = df.ABW
df.loc[df["bmi"] >=30,'weight_crcl_1'] = df.IBW
df.loc[df["bmi"] ==0, 'weight_crcl_1'] = 0

df.loc[df["bmi"] <30, 'weight_crcl_2'] = df.ABW
df.loc[df["bmi"] >=30,'weight_crcl_2'] = df.ADJ
df.loc[df["bmi"] ==0, 'weight_crcl_2'] = 0

#crcl range
df.loc[df["sex"] == 'M', 'crcl_1'] = (1.23 * (140-df.age) * df.weight_crcl_1) / df.serum_creatinine
df.loc[df["sex"] == 'F', 'crcl_1'] = (1.04 * (140-df.age) * df.weight_crcl_1) / df.serum_creatinine

df.loc[df["sex"] == 'M', 'crcl_2'] = (1.23 * (140-df.age) * df.weight_crcl_2) / df.serum_creatinine
df.loc[df["sex"] == 'F', 'crcl_2'] = (1.04 * (140-df.age) * df.weight_crcl_2) / df.serum_creatinine

#apixaban
df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] <15), 'apixaban'] = 'nr'

df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=15) & (df["crcl_2"] <=29), 'apixaban'] = 'A2.5'

df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=30) & (df["age"] >=80) & (df["weight"] >60) & (df["serum_creatinine"] <133), 'apixaban'] = 'A5'
df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=30) & (df["weight"] <=60) & (df["age"] <80) & (df["serum_creatinine"] <133), 'apixaban'] = 'A5'
df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=30) & (df["serum_creatinine"] >=133) & (df["weight"] >60) & (df["age"] <80), 'apixaban'] = 'A5'

df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=30) & (df["age"] >=80) & (df["weight"] <=60) & (df["serum_creatinine"] <133), 'apixaban'] = 'A2.5'
df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=30) & (df["weight"] <=60) & (df["age"] <80) & (df["serum_creatinine"] >=133), 'apixaban'] = 'A2.5'
df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=30) & (df["serum_creatinine"] >=133) & (df["weight"] <=60) & (df["age"] <80), 'apixaban'] = 'A2.5'

#rivaroxaban
df.loc[(df["atrial_fib"] == 1) & df["crcl_1"] <15, 'rivaroxaban'] = 'nr'

df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=15) & (df["crcl_2"] <=49), 'rivaroxaban'] = 'R15'

df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >50), 'rivaroxaban'] = 'R20'

#edoxaban
df.loc[(df["atrial_fib"] == 1) & df["crcl_1"] <15, 'edoxaban'] = 'nr'

df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >=15) & (df["crcl_2"] <=50), 'edoxaban'] = 'E30'
df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >50) & (df["weight"] <=60), 'edoxaban'] = 'E30' ### + is on certain p-gp inhibitors ciclosporin, dronedarone, erthromycin, ketoconazole

df.loc[(df["atrial_fib"] == 1) & (df["crcl_1"] >50) & (df["weight"] >60), 'edoxaban'] = 'E60' ### + not on certain p-gp inhibitors ciclosporin, dronedarone, erthromycin, ketoconazole










df.head(50)

,doac_dose_calculated,atrial_fib,serum_creatinine,bmi,weight,height,age,sex,patient_id,ABW,IBW,ADJ,weight_crcl_1,weight_crcl_2,crcl_1,crcl_2,apixaban,rivaroxaban
0,NaN,0,54.321029,12.727464,25.421232,71.068010,37,M,66368,25.421232,75.456423,55.442347,25.421232,25.421232,59.288567,59.288567,NaN,nr
1,R15/20 titration,0,67.743407,28.870268,58.731607,51.621019,50,M,60796,58.731607,30.728343,41.929649,58.731607,58.731607,95.973752,95.973752,NaN,nr
2,NaN,0,43.011732,36.114236,37.093741,73.970994,73,F,87376,37.093741,77.633286,61.417468,77.633286,61.417468,125.767716,99.497717,NaN,nr
3,NaN,0,39.343818,24.159660,60.707662,50.647395,46,M,61642,60.707662,28.489009,41.376471,60.707662,60.707662,178.402105,178.402105,NaN,nr
4,NaN,1,82.217671,32.967184,0.000000,74.521562,88,F,80500,0.000000,78.899592,47.339755,78.899592,47.339755,51.897480,31.138488,A2.5,R20
5,NaN,0,45.956547,28.506081,64.636714,47.174278,71,F,49062,64.636714,16.000839,35.455189,64.636714,64.636714,100.928615,100.928615,NaN,nr
6,R10,0,63.584763,0.000000,86.351486,74.715922,59,F,20879,86.351486,79.346620,82.148567,0.000000,0.000000,0.000000,0.000000,NaN,nr
7,NaN,0,64.845477,25.443140,70.718404,80.272447,12,F,22204,70.718404,92.126627,83.563338,70.718404,70.718404,145.176415,145.176415,NaN,nr
8,NaN,0,66.147061,26.414141,60.861256,77.206750,57,M,71518,60.861256,89.575524,78.089817,60.861256,60.861256,93.931998,93.931998,NaN,nr
9,NaN,0,49.658045,25.712368,54.098372,0.000000,42,M,94482,54.098372,-88.000000,-31.160651,54.098372,54.098372,131.318456,131.318456,NaN,nr
10,NaN,0,45.349709,45.439888,56.371829,55.039159,65,M,94522,56.371829,38.590066,45.702771,38.590066,45.702771,78.499590,92.968197,NaN,nr
11,NaN,1,0.000000,19.242776,47.686090,51.148732,59,F,92411,47.686090,25.142083,34.159686,47.686090,47.686090,inf,inf,A5,R20
12,NaN,0,64.806419,18.521405,64.424457,97.754416,67,M,44916,64.424457,136.835156,107.870876,64.424457,64.424457,89.260787,89.260787,NaN,nr
13,NaN,0,56.650628,33.094644,74.771092,0.000000,15,M,8647,74.771092,-88.000000,-22.891563,-88.000000,-22.891563,-238.832305,-62.127782,NaN,nr
14,NaN,0,68.900373,17.998699,91.175035,56.305986,86,M,17454,91.175035,41.503769,61.372275,91.175035,91.175035,87.892787,87.892787,NaN,nr
15,NaN,0,58.368444,23.714291,53.890610,52.468465,60,F,55413,53.890610,28.177468,38.462725,53.890610,53.890610,76.817171,76.817171,NaN,nr
16,E30,0,52.539318,27.308547,53.218946,79.762743,70,F,74931,53.218946,90.954308,75.860163,53.218946,53.218946,73.741713,73.741713,NaN,nr
17,NaN,0,58.884153,33.619345,35.257623,26.055611,41,M,34650,35.257623,-28.072095,-2.740208,-28.072095,-2.740208,-58.051935,-5.666637,NaN,nr
18,NaN,1,70.098684,0.000000,58.174579,0.000000,76,M,42053,58.174579,-88.000000,-29.530168,0.000000,0.000000,0.000000,0.000000,nr,nr
19,R10,0,63.438389,27.064785,41.285571,47.232808,72,F,32184,41.285571,16.135459,26.195504,41.285571,41.285571,46.024428,46.024428,NaN,nr
20,NaN,0,42.187001,24.439240,65.135032,75.810260,19,M,77697,65.135032,86.363599,77.872172,65.135032,65.135032,229.787531,229.787531,NaN,nr
21,NaN,0,53.831384,10.992636,53.639660,71.988864,23,F,32765,53.639660,73.074388,65.300497,53.639660,53.639660,121.246629,121.246629,NaN,nr
22,NaN,0,79.522432,38.565860,70.640970,44.927838,71,M,84402,70.640970,15.334027,37.456804,15.334027,37.456804,16.365179,39.975625,NaN,nr
23,NaN,0,63.906228,0.000000,73.322349,83.284279,50,F,37321,73.322349,99.053842,88.761245,0.000000,0.000000,0.000000,0.000000,NaN,nr
24,NaN,0,65.725476,30.533236,54.830705,80.875961,54,M,68476,54.830705,98.014710,80.741108,98.014710,80.741108,157.746991,129.946483,NaN,nr
25,A5,0,56.986716,0.000000,65.915969,76.951072,76,M,33526,65.915969,88.987466,79.758867,0.000000,0.000000,0.000000,0.000000,NaN,nr
26,R15,1,50.924286,16.196265,50.733519,39.205236,74,F,49944,50.733519,-2.327957,18.896634,50.733519,50.733519,68.382869,68.382869,A5,R20
27,NaN,1,56.941448,34.847597,68.214746,59.740664,1,F,79107,68.214746,44.903528,54.228016,44.903528,54.228016,113.998752,137.671277,NaN,R20
28,D75,0,88.968054,26.767956,62.344303,48.442444,8,M,87884,62.344303,23.417621,38.988294,62.344303,62.344303,113.773659,113.773659,NaN,nr
29,NaN,0,61.452430,30.587566,82.412564,67.933478,30,F,44861,82.412564,63.747000,71.213225,63.747000,71.213225,118.671577,132.570722,NaN,nr
30,NaN,1,77.629246,25.116143,60.748613,72.918871,3,M,2116,60.748613,79.713403,72.127487,60.748613,60.748613,131.867168,131.867168,NaN,R20
31,NaN,1,63.315668,14.914840,48.522113,91.710025,9,F,50437,48.522113,118.433058,90.468680,48.522113,48.522113,104.407850,104.407850,A5,R20
32,NaN,0,79.788312,38.667702,51.817511,37.399681,8,M,28812,51.817511,-1.980734,19.538564,-1.980734,19.538564,-4.030566,39.758721,NaN,nr
33,NaN,0,68.720029,27.664284,66.132742,75.001681,15,M,59995,66.132742,84.503867,77.155417,66.132742,66.132742,147.961362,147.961362,NaN,nr
34,NaN,0,0.000000,0.000000,18.507606,51.932543,59,F,62630,18.507606,26.944850,23.569952,0.000000,0.000000,NaN,NaN,NaN,nr
35,NaN,0,44.063154,32.229951,66.878779,48.247464,76,M,7702,66.878779,22.969167,40.533012,22.969167,40.533012,41.035030,72.413307,NaN,nr
36,NaN,0,49.501798,23.839198,36.216999,66.088043,8,M,98114,36.216999,64.002498,52.888298,36.216999,36.216999,118.787441,118.787441,NaN,nr
37,NaN,0,60.765178,21.276901,47.739938,46.495923,49,M,84359,47.739938,18.940622,30.460349,47.739938,47.739938,87.937391,87.937391,NaN,nr
38,NaN,0,0.000000,14.694420,45.418022,64.471206,40,M,94148,45.418022,60.283774,54.337473,45.418022,45.418022,inf,inf,NaN,nr
39,NaN,1,46.562833,29.192352,65.704446,53.046725,68,F,48100,65.704446,29.507467,43.986259,65.704446,65.704446,105.662576,105.662576,NaN,R20
40,NaN,0,64.394665,9.771825,44.104981,57.680002,43,F,52839,44.104981,40.164005,41.740395,44.104981,44.104981,69.094395,69.094395,NaN,nr
41,NaN,0,69.613783,18.499406,45.558003,57.266309,20,F,13966,45.558003,39.212511,41.750708,45.558003,45.558003,81.674038,81.674038,NaN,nr
42,NaN,1,50.894247,0.000000,51.084661,51.151646,94,M,86611,51.084661,29.648786,38.223136,0.000000,0.000000,0.000000,0.000000,nr,nr
43,NaN,0,73.446665,30.146467,50.182736,52.859776,37,M,1823,50.182736,33.577485,40.219586,33.577485,40.219586,57.918649,69.375775,NaN,nr
44,E30,0,55.472650,40.290274,70.414992,51.573574,6,F,17348,70.414992,26.119219,43.837528,26.119219,43.837528,65.617460,110.129909,NaN,nr
45,A2.5,0,0.000000,39.786437,66.869992,58.773570,9,M,93000,66.869992,47.179211,55.055523,47.179211,55.055523,inf,inf,NaN,nr
46,NaN,1,52.568349,34.275933,79.075359,55.344692,21,M,81264,79.075359,39.292791,55.205819,39.292791,55.205819,109.405868,153.713704,NaN,R20
47,NaN,0,57.300403,32.580907,49.768648,0.000000,0,F,54790,49.768648,-92.500000,-35.592541,-92.500000,-35.592541,-235.041978,-90.440446,NaN,nr
48,NaN,0,44.418104,29.320275,82.229465,25.715651,83,M,62049,82.229465,-28.854003,15.579384,82.229465,82.229465,129.791847,129.791847,NaN,nr
49,NaN,0,77.744224,0.000000,48.785155,70.610200,49,F,9914,48.785155,69.903461,61.456138,0.000000,0.000000,0.000000,0.000000,NaN,nr